bordy
{
	font-size:10px;
}
.table
{
	width:100%; 
	border:1px;
	height:100%;
	border-bottom:0px; 
	border-left:0px; 
	border-right:0px; 
	border-top:0px;
}
.table1
{
	width:100%; 
	border:1px;
	height:100%;
	border-bottom:0px; 
	border-left:0px; 
	border-right:0px; 
	border-top:0px;
	font-size:13px; 
	color:#8B8B8B;
}
.table2
{
	width:100%; 
	border:1px;
	height:100%;	
}
.talbe3
{
	width:277px;
	border:1px;
	height:100%;
	border-bottom:1px;
	border-right:1px;
	border-left:1px;
	border-top:1px;
}
.talbe4
{
	width:950px;	
	border:1px;
	height:100%;
	border-bottom:0px; 
	border-left:0px; 
	border-right:0px; 
	border-top:0px;
	font-size:13px; 
	color:#8B8B8B;
}
.talbe5
{
	width:100%;	
	border:0px;
	height:35px;
	border-bottom:0px; 
	border-left:0px; 
	border-right:0px; 
	border-top:0px;
	font-size:13px; 
	color:#8B8B8B;
}
.label
{
	color:#404040;
	font-size:15px;
	font-weight:900;
	font-style:normal;
}
tr
{
	border-bottom:0px; 
	border-left:0px; 
	border-right:0px; 
	border-top:0px;
	border:0px;
}
td
{
	border:0px;
	border-bottom:0px; 
	border-left:0px; 
	border-right:0px; 
	border-top:0px;
}
.td
{
	width:100%;
}
.td1
{
	width:15%;
}
.td2
{
	width:70%;
	height:auto;
}
.td3
{
	width:70%;
}
.td4
{
	width:30%;
}
.td5
{
	font-size:14px;  
	color:#404040;
}
.td6
{
	width:180px;
}
.td7
{
	width:650px;
}
.td8
{
	width:100%;
	height:80px;
}
.td9
{
	width:100%;
	height:26px;
}
.textboxout
{
	background-color:White;
	border-color:#FFC889;
	width:180px;
	border:1px;
	border-style:double;
}
.textboxfocus
{
	border-color:#FF904D;
	width:180px;
	border:2px;
	border-style:double;
}
.textboxVerify
{
	border-color:#FF904D;
	border:1px;
	border-style:double;
}
.tbseach
{
	color:#FF904D;
	background:#FEF3BD;
	border:1px;
	border-color:#C79F62;
	width:auto;
	width:180px;
	border-style:double;
}
.a
{
	text-decoration:none;
	color:#1A66B3;
	border:0px;
}
.a:hover
{
	color:#1A66B3;
	text-decoration:underline;
	border:0px;
}
.label1
{
	color:#519403;
	font-size:14px;
	font-weight:700;
}
.server
{
	color:#0099FF;
	font-size:14px;
	font-weight:700;
}
.img1
{
	border:0px;
}
.input1
{
	color:#CC3300;
}
.div1
{
	position:absolute;
	width:auto;
	height:auto;
	background:#FFF2BC;
	color:#CC3300;
	left:35px;
}
.label4
{
	color:#1A66B3;
	font-size:12px;
	font-weight:600;
	font-style:normal;
}
.ImageButton1
{
	cursor:hand;
}