body 
{
	margin:5px;
    background-color:#F5FBF9;
    overflow:auto;
}
body,td,th 
{
	font: 12px tahoma,verdana;
	color:#1C6078;
}

A {
	COLOR: #1C6078;
}
A:link {
	COLOR: #1C6078;
}
A:visited {
	COLOR: #1C6078;
}
A.fdleft:hover {
	COLOR: #1C6078;
}

.btn{
cursor:pointer!important;
cursor:hand;
background-image:url(bg_btn.gif);
background-color:#E1F1D4; 
text-align:center; 
height:20px; font-size:12px;padding-top:3px;
 width:50px;
padding:0px!important;
border:1px solid #84BD61; 
color:#005500
}

.txt
{
    BORDER:#84BD61 1px solid;
	HEIGHT: 20px;
	FONT: 12px tahoma,verdana; 
	COLOR:Blue;
}

select {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: 12px tahoma,verdana; color:Blue; PADDING-TOP: 1px
}
option {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; FONT: 12px tahoma,verdana; PADDING-TOP: 1px; color:Blue;
}

fieldset
{
	BORDER-RIGHT: #c8d9e4 1px solid; BORDER-TOP: #c8d9e4 1px solid; BORDER-LEFT: #c8d9e4 1px solid; BORDER-BOTTOM: #c8d9e4 1px solid;
}
legend {
	FONT-WEIGHT: bold; COLOR: #300E64
}


#LoginCon {
	float: left;
	width: 840px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#LoginCon input{
	border: 1px solid #999999;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	width:150px;
}
.Login_span{
	color: #999999;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin: 0px;
}
.Login_RightRound {
	color: #999999;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
}
.Login_ErroRound {
	color: #FF0000;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
}
.LoginCon_select 
{
    	border: 1px solid #999999;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.LoginCon_area{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	border: 1px solid #FFC889;
	height: 30px;
	width: 165px;
}
